

:root {
    --bg-light: #f4f4f5;
    --text-light: #0f172a;
}

body {
    background-color: var(--bg-light);
    color: var(--text-light);
    font-family: ui-sans-serif, system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark body {
    background-color: black;
    color: #f8fafc;
}
